.hero__container {
    font-family: "Poppins", sans-serif;
    background-color: #181D31;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    
}

.search__filter {
    display: flex;
    justify-content: space-between;
    margin: 8rem 10rem 3rem 7rem;
}

