*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continents--name {
    font-size: 1.3rem;
    color: #fff;
    margin: 0 15px;
}

.para {
    color: #fff;
}

.country--detail {
    font-size: 0.8rem;
    color: rgb(194, 194, 194);
}